﻿body {
    
}

h4{
    color: white;

}

#drop-box {
    background-color: rgb(245, 245, 245);
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}