﻿@model MotoHub.Models.ViewModels.EventResultsViewModel

<div>
    <table id="runResultsTable" class="table table-hover table-responsive table-bordered">
        <thead>
            <tr class="col-md-12">
                <th>
                    <p>Run Number</p>
                </th>
                <th>
                    <p>Competitor Name</p>
                </th>
                <th>
                    <p>Competitor Club</p>
                </th>
                <th>
                    <p>Run Group</p>
                </th>
                <th>
                    <p>Run Section</p>
                </th>
                <th>
                    <p>Raw Time</p>
                </th>
                <th>
                    <p>Adjusted Time</p>
                </th>
                <th>
                    <p>Penalty</p>
                </th>
                <th>
                    <p>Finished</p>
                </th>
                <th>
                    <p>Points</p>
                </th>
                <th>
                    <p>Best Time</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventResultItem in Model.EventResults)
            {
                foreach (var runDataItem in Model.RunData.Where(rd => rd.EventResultsID == eventResultItem.EventResultsID))
                {
                    <tr id="event-results-read-only" class="col-md-12">
                        <td>
                            @Html.DisplayFor(model => runDataItem.RunNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.Registration.MotoHubUser.UserProfile.FirstName) @Html.DisplayFor(model => eventResultItem.Registration.MotoHubUser.UserProfile.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.Registration.Club.ClubName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.RunGroupCode)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.RunSectionCode)
                        </td>

                        <td>
                            @if (runDataItem.RawTime != null)
                            {
                                @Html.DisplayFor(model => runDataItem.RawTime.Value)
                            }
                            else
                            {
                                @Html.Label("00");
                            }

                        </td>
                        <td>
                            @if (runDataItem.AdjustedTime != null)
                            {
                                @Html.DisplayFor(model => runDataItem.AdjustedTime.Value)
                            }
                            else
                            {
                                @Html.Label("00");
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(model => runDataItem.Penalty)
                        </td>
                        <td>
                            @Html.DisplayFor(model => runDataItem.Finished)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.BestTime)
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-default btn-xs" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-align-center"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" onclick="showResultsEdit()">@Html.ActionLink("Update Entry", "EditEventResults", "Events", routeValues: new { runDataID = runDataItem.RunDataID, eventResultsID = eventResultItem.EventResultsID }, htmlAttributes: new { @role = "menuitem", @class = "animsition-link" })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/animsition.min.js"></script>
}
