﻿@model MotoHub.Models.Event
@{
    ViewBag.Title = "CreateNewRunData";
}

<h2>Create New Run Data for @Model.EventName</h2>

<div class="row">
    <div class="col-lg-6">
        <select id="user-selection-for-run-data-update" class="form-control">
            @foreach (var item in Model.Registrations)
            {
                <option value="@item.MotoHubUser.MotoHubUserID">@item.MotoHubUser.UserProfile.FirstName @item.MotoHubUser.UserProfile.LastName</option>
            }
        </select>
    </div>

    <div class="col-lg-6">
        <input class="btn btn-info btn-sm" type="submit" value="Create New Run" onclick="addRunDataForUser(@Model.EventsID)"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        
    </div>
</div>

@section scripts {
    <script src="~/Scripts/eventresults.js" type="text/javascript"></script>
    }
