﻿@model MotoHub.Models.ViewModels.EventAdminEditViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <!--<script type="text/javascript" src="~/Scripts/getAddress.js"></script>-->
    <!--<script type="text/javascript">
    getMap(@Model.Event.EventsID);
    </script>-->
    <link href="~/Content/event-details.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Events/Venue/@(Model.Event.EventsID)"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAO_FL7TNZdKxOe5RoG3uKmJ2Y5D4AE5A&callback=initMap"></script>
}

<h1>@Html.DisplayFor(model => model.Event.EventName)</h1> 
@if (Model.ShowAdminControl)
{
  @Html.Partial("_AdminDetails")
}


@Html.ActionLink("Attend This Event", "ManageCreateNew", "EventRegistration", new { eventID = Model.Event.EventsID }, new {@class =  "btn btn-info btn-xs"})

<div>
    <hr />

    <div style="height:200px;" id="map"></div>
    <h2>
        Hosted by: &nbsp; @Html.DisplayFor(model => model.Event.Club.ClubName)
    </h2>

    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.Event.EventLocationStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventLocationStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventLocationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventLocationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventLocationState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventLocationState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventLocationZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventLocationZip)
        </dd>

        <dt>
            Number of Attenedees
        </dt>

        <dd>
            @Model.Event.Registrations.Count()
        </dd>
    </dl>
    <div class="row">
        <table class="table-hover table-striped">
            <tbody>
                @foreach (var item in Model.Event.Registrations)
                {

                    <tr>
                        <td>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    @if (item.MotoHubUser.UserProfile.ProfilePhotoID != null || item.MotoHubUser.UserProfile.ProfilePhotoID > 0)
                                    {
                                        <img class="media-object img-rounded profile-photo" src="data:@item.MotoHubUser.UserProfile.Photo.ContentType;base64,@item.MotoHubUser.UserProfile.Photo.ContentType" alt="...">
                                    }
                                    else
                                    {
                                        <img class="media-object img-rounded profile-photo" src="" alt="" />
                                    }

                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">@Html.ActionLink(@item.MotoHubUser.UserProfile.FirstName + " " + @item.MotoHubUser.UserProfile.LastName, "UserPublicProfile", "Profile", new { userID = item.UserID }, null)</h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-xs" }) |
    @Html.ActionLink("Photos", "EventPublicPhotos", new { eventID = Model.Event.EventsID}, new { @class = "btn btn-info btn-xs" })
</p>


