﻿@model MotoHub.Models.Event
@{
    ViewBag.Title = "Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/qr-capture.js"></script>
    <script src="~/Scripts/queue-add.js"></script>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <script type="text/javascript">
        route = "/Events/GetQueuePartial/" + "@Model.EventsID"
    </script>
}
<h2>Queue</h2>
@Html.Partial("_QRCodeScan")