﻿@model MotoHub.Models.ViewModels.EventResultsViewModel
@{
    ViewBag.Title = "Timing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timing</h2>
@using (Html.BeginForm("EditEventResults", "Events", new { eventResults = Model.EventResults.FirstOrDefault(), runData = Model.RunData.FirstOrDefault() }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.DisplayFor(model => model.EventResults.FirstOrDefault().Registration.MotoHubUser.UserProfile.FirstName)
        @Html.DisplayFor(model => model.EventResults.FirstOrDefault().Registration.Car.CarMake)
        @Html.DisplayFor(model => model.EventResults.FirstOrDefault().Registration.Car.CarModel)
        
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.RunData.FirstOrDefault().RawTime, "{0:hh\\:mm\\:ss\\.ff}", new { @class = "form-control" })
                        <p><small>Format: hours:minutes:seconds.tenths</small></p>
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.RunData.FirstOrDefault().Penalty, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.RunData.FirstOrDefault().AdjustedTime, "{0:hh\\:mm\\:ss\\.ff}", new { @class = "form-control" })
                        <p><small>Format: hours:minutes:seconds.tenths</small></p>
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.RunData.FirstOrDefault().Finished, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}