﻿body {
}

#club-description-edit-container{
    display: none;
}

#club-location-edit-container{
    display: none;
}

#club-activity-edit-container{
    display: none;
}

#club-name-edit-container {
    display: none;
}

#club-creation-container{
    display: none;
}