﻿body {
}

#club-public-profile-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#club-header-buttons {
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #720808;
}

.header-button {
    background-color: #d6e8ff;
}


#club-information-panel {
    border: solid;
    border-color: #720808;
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #d6e8ff;
}

.header-tab-containers {
    display: none;
}

#club-profile-photo {
    width: 150px;
    height: 150px;
}