﻿
body {
    height:100vh;
    background-image: url(checkered-flag-crop.svg);
    background-repeat: no-repeat;
    min-width: 550px;
    background-size: cover;
}

.inner {
    margin-top:10%;
}
h1 {
    font-size: 700%;
    text-align: center;
    font-family: 'Faster One', cursive;
}

.container {
    max-width:100%;
}

a {
    color: #000000;
}



.home-button {
    background: rgba(33, 194, 248, 0.9);
    font-family: 'Contrail One', cursive;
    margin-top: 10px;
    font-size: xx-large !important;
    border-radius: 0px;
}

    .home-button:hover {
        background-color: #2057EE;
        color: #FFFFFF !important;
    }
.content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #65D8FF;
    text-align: center;
    font-size: large;
}

p {
    margin:10px;
}


hr {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    opacity: .75;
}