﻿body {
}

#drop-box-container{
    display: none;
    background-color: gray;
    padding: 10px;
}

#drop-box{
    background-color: aliceblue;
    padding: 5px;
}

#drop-box.highlight {
    border: dashed;
    border-color: red;
}

.edit-pane {
    display: none;
}