﻿body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #e5fbff;
}

h1,
h2,
h3 {
    font-family: 'Contrail One', cursive;
}

button {
    background-color: #21C2F8;
    border-radius: 0px !important;
}

.btn {
    background-color: #65D8FF;
    color: #494949;
    font-size: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



hr {
    bottom: 0;
    width: 100%;
}


footer {
    bottom: 0;
    width: 100%;
    background: white;
    opacity: .75;
}


li > img {
    margin-top: 10%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.well {
    background-color: #F5F5F5;
    box-shadow: inset 1px 1px 3px 1px #888888;
}