﻿.content-box {
    padding: 10px;
    background-color: rgba(101, 216, 255, 0.30);
    margin-bottom: 15px;
    box-shadow: 4px 3px 5px #888888;
}

.btn {
    background-color: #65D8FF;
    color: #494949;
    font-size: 18px;
}

td > a {
    font-size: 24px;
}

.events-table {
    width: auto;
    display: block;
}

#past-events-table-container{
    display: none;
    width: 100%;
}

#upcoming-events-table-container {
    display: none;
    width: 100%;
}
