﻿@model MotoHub.Models.Membership
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remove a member</h4>
            </div>
            <div class="modal-body">
                Are you sure you would like to remove @Model.MotoHubUser.UserProfile.FirstName @Model.MotoHubUser.UserProfile.LastName
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @Html.ActionLink("Remove Member", "DeleteClubMember", "Clubs", Model,  new { @class = "btn btn-primary btn-md"})
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
