﻿@model MotoHub.Models.ViewModels.ClubPhotosViewModel

@{
    ViewBag.Title = "ClubPublicProfile";
}

<link href="~/Content/club-public-profile.css" rel="stylesheet" type="text/css" />

<row>
    @if (Model.Clubs.ProfilePhotoID > 0)
    {
        <img id="club-profile-photo" src="data:@Model.Clubs.Photo.ContentType;base64,@Convert.ToBase64String(Model.Clubs.Photo.PhotoData)" , class="pull-left" />
    }
    else
    {
        <p>No Profile Photo Here</p>
    }

    <div id="club-public-profile-header">
        <h2><small>Welcome to</small></h2>
        <h2>@Html.DisplayFor(model => model.Clubs.ClubName)</h2>


        <div id="club-header-buttons" class="btn-group btn-group-md" data-toggle="buttons">
            <label class="btn header-button">
                <input type="radio" name="members-button" id="members-button">Members
            </label>
            <label class="btn header-button">
                <input type="radio" id="events-button">Events
            </label>
            <label class="btn header-button">
                <input type="radio" id="location-button">Location
            </label>
            <label class="btn header-button">
                <input type="radio" id="photos-button">Photos
            </label>
        </div>
    </div>
</row>
<row>
    <div>
        <hr />

        <div id="club-information-panel">
            <div id="club-description-container">
                <h1><small>Biography: </small></h1>
                <hr />
                <!--Club Description-->
                @if (Model.Clubs.ClubDescription == null)
                {
                    <p>The club owner has not set a club description yet. Check back another time.</p>
                }
                else
                {
                    <p id="club-description">
                        @Html.DisplayFor(model => model.Clubs.ClubDescription)
                    </p>
                }
            </div>
            <!--Members List-->
            <div id="members-list-container" class="header-tab-containers">
                <h1><small>Members:</small></h1>
                @foreach (var item in Model.Clubs.Memberships)
                {
                    <p>
                        @item.MotoHubUser.UserProfile.FirstName @item.MotoHubUser.UserProfile.LastName
                    </p>
                }
            </div>
            <!--Events List-->
            <div id="events-list-container" class="header-tab-containers">
                <h1><small>Events:</small></h1>
                @if (Model.Clubs.Events.Count() == 0)
                {
                    <p>No events have been posted by this club yet.</p>
                }
                else
                {
                    <div class="row">
                        @{ int j = 0; }
                    
                        @foreach (var item in Model.Clubs.Events)
                        {
                            j++;
                            <div class="@(j%4 == 0 ? "row" : "")">
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>@Html.ActionLink(@item.EventName, "Details", "Events", new { id = item.EventsID }, null)</h3>
                                            <hr />
                                            <h4>@item.EventDate.ToShortDateString()</h4>
                                        </div>
                                        <div class="panel-body">
                                            <a href="#" class="thumbnail">
                                                @if(item.ProfilePhotoID > 0)
                                                {
                                                    <img src='@Url.Action("GetPhotoAsFile", "Photo", new { photoID = item.ProfilePhotoID})' />
                                                }
                                                else
                                                {
                                                    <h2><small>No Photo Yet.</small></h2>
                                                }
                                            </a>
                                        </div>
                                        <div class="panel-footer">
                                            <h4>
                                                @item.EventLocationStreet @item.EventLocationCity @item.EventLocationState @item.EventLocationZip
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
                    foreach (var item in Model.Clubs.Events)
                    {
                        @Html.ActionLink(item.EventName, "Details", "Events", new { id = item.EventsID }, null)

                    }
                }
            </div>

            <!--Location Information-->

            <div id="location-information-container" class="header-tab-containers">
                <h1><small>Location:</small></h1>
                @Model.Clubs.ClubLocationStreet
                @Model.Clubs.ClubLocationCity
                @Model.Clubs.ClubLocationState
                @Model.Clubs.ClubLocationZip
            </div>

            <!--Photos List-->

            <div id="photos-list-container" class="header-tab-containers">
                
                <h1><small>Photos:</small></h1>

                <div class="row">
                    @{ int i = 0; }
                    
                    @foreach (var item in Model.Photos)
                    {
                        i++;
                        <div class="@(i%4 == 0 ? "row" : "")">
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <a href="#" class="thumbnail">
                                            <img src='@Url.Action("GetPhotoAsFile", "Photo", new { photoID = item.PhotoID})' />

                                        </a>
                                    </div>
                                    <div class="panel-footer">
                                        <p>
                                            @item.PhotoCaption
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</row>
<br />
<p>
    @Html.ActionLink("View All Clubs", "Index")
</p>

@section scripts{
        <script src="~/Scripts/club-public-profile.js"></script>
    }