﻿@model MotoHub.Models.Club

@{
    ViewBag.Title = Model.ClubName + " - Admin Dashboard";
}

@section PageStyle{
    <link href="~/Content/club-admin-dashboard.css" rel="stylesheet" type="text/css" />
}

<div class="page-header">

    <h2>@Model.ClubName - Admin Dashboard</h2>

</div>

<div class="row">
    <div class="col-md-2">
        @if (Model.ProfilePhotoID > 0)
        {
            <img src="@Url.Action("GetProfilePhoto", new { clubID = Model.ClubsID})" alt="" class="img-rounded img-responsive" />
        }
        <h3>Club Description</h3>
        <hr />

        @if (Model.ClubDescription != null)
        {
            <p>@Model.ClubDescription</p>
        }
        else
        {
            <p>It looks like you haven't added a club description yet. Would you like to?</p>
        }

        <button id="club-description" class="btn btn-info btn-xs edit-window-button">edit description</button>
        @using (Ajax.BeginForm("Edit", "Clubs", new AjaxOptions { HttpMethod = "POST" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ClubsID)
            @Html.HiddenFor(model => model.ClubName)

            <!--Club Description Editior-->
            <div id="club-description-edit-container" class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.ClubDescription, new { @class = "form-control", @rows = 3 })
                    @Html.ValidationMessageFor(model => model.ClubDescription, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="row">
                        <br />
                        <div class="col-sm-8">
                            <button id="club-description-edit-hide-button" class="btn btn-info btn-xs hide-edit-window-button">hide</button>
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>


            <h3>Club Location</h3>
            <hr />
            if (Model.ClubLocationStreet == null && Model.ClubLocationCity == null && Model.ClubLocationState == null && Model.ClubLocationZip == null)
            {
                <p>No club location? Would you like to add one?</p>
            }
            else
            {
                <p>@Model.ClubLocationStreet @Model.ClubLocationCity, @Model.ClubLocationState @Model.ClubLocationZip</p>
            }
            <button id="club-location" class="btn btn-info btn-xs edit-window-button">edit location</button>


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ClubsID)
            @Html.HiddenFor(model => model.ClubName)

            <!--Location Edit Window-->
            <div id="club-location-edit-container" class="form-group">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ClubLocationStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street" } })
                        @Html.ValidationMessageFor(model => model.ClubLocationStreet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ClubLocationCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                        @Html.ValidationMessageFor(model => model.ClubLocationCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ClubLocationState, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                        @Html.ValidationMessageFor(model => model.ClubLocationState, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ClubLocationZip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zipcode" } })
                        @Html.ValidationMessageFor(model => model.ClubLocationZip, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <button id="club-location-edit-hide-button" class="btn btn-info btn-xs hide-edit-window-button">hide</button>
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>

            <h3><small>Club Activity</small></h3>
            <hr />

            <p>Is your club active?</p>
            @Html.DisplayFor(model => model.ClubIsActive)
            <br />
            <button id="club-activity" class="btn btn-info btn-xs edit-window-button">change activity status</button>

            <div id="club-activity-edit-container" class="col-md-12">
                @Html.EditorFor(model => model.ClubIsActive) <p>Change the check mark to indicate if your club is active or not.</p>
                <div class="row">
                    <div class="col-sm-8">
                        <button id="club-activity-edit-hide-button" class="btn btn-info btn-xs hide-edit-window-button">hide</button>
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="col-md-8">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>Event Management</h3>
                    @Html.ActionLink("add event", "Create", "Events", new { clubID = Model.ClubsID }, null)
                    <hr />

                    @if (Model.Events.Count() == 0)
                    {
                        <p>No events have been posted.</p>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Event Name</td>
                                    <td>Event City</td>
                                    <td>Event State</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Events)
                                {
                                    <tr>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-default btn-xs" data-toggle="dropdown">
                                                    <span class="glyphicon glyphicon-align-center"></span>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li role="presentation">@Html.ActionLink("Delete", "DeleteEvent", "Clubs", new { eventID = item.EventsID }, new { @role = "menuitem" })</li>
                                                    <li role="presentation">@Html.ActionLink("Register", "AdminUserRegistration", "Account", routeValues: new { eventID = item.EventsID }, htmlAttributes: new { id = "registerLink", @role = "menuitem" })</li>
                                                    <li role="presentation">@Html.ActionLink("Update Results", "EventResults", "Events", routeValues: new { eventID = item.EventsID }, htmlAttributes: new { @role = "menuitem" })</li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>@Html.ActionLink(item.EventName, "Details", "Events", new { id = item.EventsID }, null)</td>
                                        <td>@item.EventLocationCity</td>
                                        <td>@item.EventLocationState</td>
                                        <td>@Html.ActionLink("Edit", "Edit", "Events", new { id = item.EventsID }, null)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm("EditClubName", "Clubs", new { clubID = Model.ClubsID }, FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <div id="club-name-edit-container" class="form-group">
                            <div class="col-md-12">
                                <input type="text" name="newClubName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    <button id="club-name-edit-hide-button" class="btn btn-info btn-md hide-edit-window-button">hide</button>
                                </div>
                            </div>

                        </div>
                        <br />
                    }
                    @Html.ActionLink("View Public Profile", "ClubPublicProfile", "Clubs", new { clubID = Model.ClubsID }, new { @class = "btn btn-info btn-block" })
                    <button id="club-name" class="btn btn-info btn-block edit-window-button">Change Club Name</button>

                    @Html.ActionLink("Edit Club Photos", "GetPhotoEditPage", "Photo", new { galleryID = Model.GalleryID }, new { @class = "btn btn-info btn-block" })

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <!--Club Membership Management-->
        <h1>Membership Management</h1>

        <h3>Current Club Members:</h3>
        <h1>
            @Model.Memberships.Count
        </h1>
        <button id="add-membership-button" class="btn btn-info btn-block" data-club=@Model.ClubsID>Add Member</button>
        <div id="add-membership-partial">

        </div>
        <hr />
        <h3>Members</h3>
        <table class="table table-responsive">
            @foreach (var item in Model.Memberships)
            {
                <tr>
                    @if (item.MotoHubRole.RoleTitle.Equals("ClubAdmin"))
                    {
                        <td>
                            <p>
                                @item.MotoHubUser.UserProfile.FirstName @item.MotoHubUser.UserProfile.LastName
                                <span>(Club Admin)</span>
                            </p>
                        </td>

                    }
                    else
                    {

                        <td>
                            @item.MotoHubUser.UserProfile.FirstName @item.MotoHubUser.UserProfile.LastName
                        </td>
                        <td>
                            <div class="dropdown pull-left">

                                <a class="btn btn-default btn-xs" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-align-center"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" data-url="@Url.Action("ConfirmDeleteClubMember", "Clubs", item)" data-toggle="modal" class="remove-member-button">@Html.ActionLink("Delete", null, null, new { @role = "menuitem" })</li>
                                </ul>
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
        <div id="delete-membership-partial">

        </div>


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/club-admin-dashboard.js"></script>
}
