﻿@model MotoHub.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>MotoHub Clubs</h2>

@foreach (var item in Model.Clubs)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-7">
                    <a href="@Url.Action("ClubPublicProfile", "Clubs", new { clubID = item.ClubsID })">
                        <h3>@Html.DisplayFor(modelItem => item.ClubName)</h3>
                    </a>
                    <h3><small>@Html.DisplayFor(modelItem => item.ClubLocationCity) @Html.DisplayFor(modelItem => item.ClubLocationState)</small></h3>
                    <p>@Html.DisplayFor(modelIem => item.ClubDescription)</p>
                </div>
                <div class="col-md-5">
                    @if (item.ProfilePhotoID > 0)
                    {
                        <div class="thumbnail">
                            <img src="data:@item.Photo.ContentType;base64,@Convert.ToBase64String(item.Photo.PhotoData)" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="panel-body">
            @if (Model.Memberships == null || Model.Memberships.Count() == 0)
            {

                @Html.ActionLink("Join", "Join", new { id = item.ClubsID })

            }
            else
            {

                bool currentMembership = item.Memberships.Intersect(Model.Memberships).Any();
                if (currentMembership)
                {
                    <td>Member Already</td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Join", "Join", new { id = item.ClubsID })
                    </td>
                }

            }
        </div>
    </div>
}
