﻿@model IEnumerable<MotoHub.Models.RunData>

@{
    ViewBag.Title = "RunData";
}

<h2>RunData</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventResult.CarClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RawTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdjustedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventResult.CarClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RawTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdjustedTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RunDataID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RunDataID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RunDataID })
        </td>
    </tr>
}

</table>
