﻿@{
    ViewBag.Title = "Home Page";
}
@section CustomStyle{
    <link href="@Href("~/Content/frontpage")" rel="stylesheet" />
}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row" id="fronttext">
            <div class="ccol-lg-12 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Fitness Tracker</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-12">
                <p class="text-faded mb-5">The future home of an application to track team runs.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href=@Url.Action("About", "Home")>About</a>
            </div>
        </div>
    </div>
</header>

<div>


</div>