﻿@model MotoHub.Models.Car

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarClass.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarClass.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarColor.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarMake.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMake.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType.CarType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType.CarType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garage.GarageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garage.GarageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotoHubUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotoHubUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarQRCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarQRCode)
        </dd>

    </dl>
</div>
