﻿@model MotoHub.Models.ViewModels.QueueViewModel
<div>
    <h4>User Registration Info</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reg.MotoHubUser.UserProfile.FirstName)
            <th />
            <th>
                @Html.DisplayNameFor(model => model.Reg.MotoHubUser.UserProfile.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reg.Car.CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reg.Car.CarModel)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Reg.MotoHubUser.UserProfile.FirstName)
            <td />
            <td>
                @Html.DisplayFor(model => model.Reg.MotoHubUser.UserProfile.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Reg.Car.CarMake)
            </td>
            <td>
                @Html.DisplayFor(model => model.Reg.Car.CarModel)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.EventID)
    <input type="button" class="btn btn-info button" id="addButton" value="ADD"/>
      
</div>

