﻿@model IEnumerable<MotoHub.Models.Registration>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotoHubUser.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeesPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club.ClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotoHubUser.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeesPaid)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.RegistrationID })
        </td>
    </tr>
}

</table>
