﻿@model MotoHub.Models.ViewModels.EventResultsViewModel

<link href="~/Content/user-events-table.css" rel="stylesheet" type="text/css" />

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    <p>Event</p>
                </th>
                <th>
                    <p>Event Date</p>
                </th>
                <th>
                    <p>Run Number</p>
                </th>
                <th>
                    <p>Competitor Club</p>
                </th>
                <th>
                    <p>Run Group</p>
                </th>
                <th>
                    <p>Run Section</p>
                </th>
                <th>
                    <p>Raw Time</p>
                </th>
                <th>
                    <p>Adjusted Time</p>
                </th>
                <th>
                    <p>Penalty</p>
                </th>
                <th>
                    <p>Finished</p>
                </th>
                <th>
                    <p>Points</p>
                </th>
                <th>
                    <p>Best Time</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.EventResults.Count() == 0)
            {
                <tr>
                    <td>No Event Results To Show!</td>
                </tr>
            }
            else
            {
                foreach (var eventResultItem in Model.EventResults)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.Registration.Event.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => eventResultItem.Registration.Event.EventDate)
                        </td>
                    </tr>
                    foreach (var runDataItem in Model.RunData.Where(rd => rd.EventResultsID == eventResultItem.EventResultsID))
                    {
                        <tr>
                            <td></td>
                            <td></td>

                            <td>
                                @Html.DisplayFor(model => runDataItem.RunNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.Registration.Club.ClubName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.RunGroupCode)
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.RunSectionCode)
                            </td>

                            <td>
                                @if (runDataItem.RawTime != null)
                                {
                                    <p>@Html.DisplayFor(model => runDataItem.RawTime.Value.Minutes):@Html.DisplayFor(model => runDataItem.RawTime.Value.Seconds):@Html.DisplayFor(model => runDataItem.RawTime.Value.Milliseconds)</p>
                                }
                                else
                                {
                                    @Html.Label("00");
                                }

                            </td>
                            <td>
                                @if (runDataItem.AdjustedTime != null)
                                {
                                <p>@Html.DisplayFor(model => runDataItem.AdjustedTime.Value.Minutes):@Html.DisplayFor(model => runDataItem.AdjustedTime.Value.Seconds):@Html.DisplayFor(model => runDataItem.AdjustedTime.Value.Milliseconds)</p>
                                }
                                else
                                {
                                    @Html.Label("00");
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(model => runDataItem.Penalty)
                            </td>
                            <td>
                                @Html.DisplayFor(model => runDataItem.Finished)
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => eventResultItem.BestTime)
                            </td>

                        </tr>
                    }

                }
            }
        </tbody>
    </table>
</div>