﻿@model MotoHub.Models.ViewModels.VehicleViewModel

@section Javascript{
    <script type="text/javascript" src="~/Scripts/VehicleAPI.js"></script>
}

@{
    ViewBag.Title = "Create";
}

<h2>Add Your Car To Your Profile</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Car Creation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{List<SelectListItem> carMakeList = new List<SelectListItem>();
        foreach (var car in Model.CarMake.ToList())
        {
            carMakeList.Add(new SelectListItem
            {
                Text = car.Make,
                Value = car.Make
            });
        }}

    @{List<SelectListItem> carColorList = new List<SelectListItem>();
        foreach (var car in Model.CarColor.ToList())
        {
            carColorList.Add(new SelectListItem
            {
                Text = car.Color,
                Value = car.Color
            });
        }}

    @{List<SelectListItem> carTypeList = new List<SelectListItem>();
        foreach (var car in Model.CarType.ToList())
        {
            carTypeList.Add(new SelectListItem
            {
                Text = car.CarType1,
                Value = car.CarType1
            });
        }}


    @{List<SelectListItem> carClassList = new List<SelectListItem>();
        foreach (var car in Model.CarClass.ToList())
        {
            carClassList.Add(new SelectListItem
            {
                Text = car.Class,
                Value = car.Class
            });
        }}

    <div class="form-group">
        <div class="col-md-2" style="padding-left:11.3%; padding-top: .5%">
            <label for="Year">Year</label>
        </div>

        <div class="col-md-10">
            <input type="number" min="1960" max="2019" id="Year" name="Year" placeholder="Year" required class="form-control" />
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.CarMake, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CarMake, carMakeList, "-- Select A Make --", new { @class = "form-control", onchange = "getVehicleByMake()", id = "CarMake" })
            @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2" style="padding-left:11.3%;padding-top: .5%">
            <label for="Model">Model</label>
        </div>

        <div class="col-md-10">
            <select name="Model" id="Model" required class="form-control">
                <option disabled selected> -- select an option from Make -- </option>
            </select>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.CarColor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CarColor, carColorList, "-- Select A Color --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CarColor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CarType, carTypeList, "-- Select A Type --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CarType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarClass, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CarClass, carClassList, "-- Select A Running Class --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CarClass, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Dont See Your Car Make / Color / Type / Class?", "ListCreator", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
    @Html.ActionLink("Back To Profile", "UserHome", "Profile", null, new { @type = "button", @class = "btn btn-info btn-block" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
