﻿@model MotoHub.Models.CarClass
@{
    ViewBag.Title = "ListCreator";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>ListCreator</h2>


<h3>Create a Running Class</h3>
@Html.ActionLink("Add a Class", "createClass", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
<h3>View Current Running Classes</h3>
@Html.ActionLink("All Classes", "ListClasses", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
<br />
<br />
<h3>View Current Car Makes</h3>
@Html.ActionLink("All Car Models", "ListMakes", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })

