﻿@model IEnumerable<MotoHub.Models.CarMake>

@{
    ViewBag.Title = "ListMakes";
}

<h2>ListMakes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ int i = 0; }

    <div class="row">
        @foreach (var item in Model)
        {
            i++;
            <div class="@(i % 6== 0 ? "row" : "")">

                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Make)
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

@Html.ActionLink("Back To Create", "Create", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })