﻿@model IEnumerable<MotoHub.Models.PendingClubInvitation>

<div class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" id="club-invitation-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (Model.Count() == 0)
                {
                    <h4 class="modal-title">This is where we will put membership invitation that clubs send to you.</h4>
                }
                else
                {
                    <h4 class="modal-title">These clubs have invited you to become a member!</h4>
                }
            </div>
            <div class="modal-body">
                @if (Model.Count() == 0)
                {
                    <h3>Looks a little dusty in here...</h3>
                    @Html.ActionLink("Search for a Club!", "Index", "Clubs", null, new { @type = "button", @class = "btn btn-info btn-block" })
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <h3>@item.Club.ClubName</h3>
                        <span><button class="btn btn-info btn-sm" onclick="AcceptClubInvitation(event, @item.ClubID)">Accept</button></span>
                        <span><button class="btn btn-info btn-sm" onclick="rejectClubInvitation(event, @item.ClubID)">Reject</button></span>
                        <hr />
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/user-home.js"></script>
}
