﻿@model IEnumerable<MotoHub.Models.Event>

<div class="row">
    <div class="table">
        <table class="table-hover table-hover table-bordered events-table">
            <thead>
                <tr>
                    <th>
                        Event Name
                    </th>
                    <th>
                        Host Club
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @item.EventName
                        </td>
                        <td>
                            @item.Club.ClubName
                        </td>
                        <td>
                            @item.EventLocationStreet @item.EventLocationCity, @item.EventLocationState @item.EventLocationZip
                        </td>
                        <td>
                            @item.EventDate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

