﻿@model MotoHub.Models.ViewModels.UserProfileViewModel
<div>
    <h1>
        <small>
            Wow! Great looking hair!
            Here at MotoHub, <em>we really like that!</em>
            But enough with the pleasanties! Let me show you around!
        </small>
    </h1>
</div>

