﻿
@{
    ViewBag.Title = "Your Event Results";
}

<h2>Here are the Results From Your Past Events!</h2>

<hr />
<div id="user-event-results-table-container">
    @{ Html.RenderAction("GetAllUserPastEventResults", "Events"); }
</div>

