﻿@model IEnumerable<MotoHub.Models.Event>
@{
    ViewBag.Title = "UserEvents";
}

<h2>All Your Events!</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-info btn-sm" onclick="filterEvents('past')">Show My Past Events</button>
    </div>

    <div class="col-lg-6">
        <button class="btn btn-info btn-sm"onclick="filterEvents('future')">Show My Upcoming Events</button>
    </div>
</div>
<br />

<div id="user-events-table">
    @{ Html.RenderAction("GetUserEventsTablePartialView", "Profile", new { eventList = Model }); }
</div>

@section scripts{
    <script src="~/Scripts/user-events.js" type="text/javascript"></script>
    }