﻿@model MotoHub.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "UserHome";
}

<link href="~/Content/user-home.css" rel="stylesheet" type="text/css" />
@section PageStyle{
    <link href="/Content/user-dashboard.css" rel="stylesheet" type="text/css" />
}

<div class="page-header">
    <h1>Hey there, @Model.UserProfile.Select(u => u.FirstName).FirstOrDefault()!</h1>
    @if (Model.MotoHubUsers.Select(m => m.LoginCount).FirstOrDefault() <= 3)
    {
        <h1>
            <small>
                @Html.Partial("_WelcomePartial")
            </small>
        </h1>
    }
</div>

<div class="row">
    <div class="col-md-9">
        <div class="container">
            <div class="row content-box">

                <!--Clubs-->
                <button class="btn btn-info btn-sm pull-right" id="toggle-invitation-modal">
                    <span class="badge">@Model.PendingClubInvitation.Count()</span>
                    Club Membership Invitations
                </button>
                @*
                    <a class="btn btn-info btn-sm pull-right" id="toggle-invitation-modal" @*onclick="toggleMembershipInvitationModal()" data-pendingInvitation=@Model.PendingClubInvitation>
                        <span class="badge">@Model.PendingClubInvitation.Count()</span>
                        Club Membership Invitations
                        </a>
                *@
                <div id="membership-invitation-modal-container">

                </div>

                <h1>My Clubs:</h1>
                <div class="well">
                    @if (Model.Memberships.Count() == 0)
                    {
                        <p>Not a club member yet? Search for clubs to join below.</p>
                    }
                    else
                    {
                        <table class="table table-hover table-bordered">

                            @foreach (var item in Model.Memberships)
                            {
                                <tr>
                                    @if (item.MotoHubRole.RoleTitle.Equals("ClubAdmin"))
                                    {
                                        <td>
                                            @Html.ActionLink(item.Club.ClubName, "ClubAdminDashboard", "Clubs", new { clubID = item.ClubID }, null)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink(item.Club.ClubName, "ClubPublicProfile", "Clubs", new { clubID = item.ClubID }, null)
                                        </td>
                                        <td>
                                            @Html.ActionLink("leave", "LeaveClub", "Profile", new { clubID = item.ClubID }, new { @class = "btn btn-info btn-block" })
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    }
                </div>
                @Html.ActionLink("Find Clubs", "Index", "Clubs", null, new { @type = "button", @class = "btn btn-info btn-block" })

                @Html.ActionLink("Create your own club!", "Create", "Clubs", null, new { @class = "btn btn-info btn-block" })
            </div>

            <div class="row content-box">

                <!--Events-->

                <h1>My Events:</h1>
                @Html.ActionLink("View All of My Events", "UserEvents", "Profile", new { @class = "btn btn-info btn-sm" })
                <h3>
                    <span id="past-events-chevron" class="glyphicon glyphicon-chevron-right"></span>
                    Past Events
                </h3>

                <br />
                <div class="well" id="past-events-table-container">
                    <table id="past-events-table" class="table table-hover table-hover table-bordered events-table">
                        <tbody>
                            <tr>
                                <th>
                                    EventName
                                </th>
                                <th>
                                    Hosting Club
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>

                            @foreach (var item in Model.Registration)
                            {

                                if (item.Event.EventDate < System.DateTime.Now.AddDays(1))
                                {

                                    <tr>
                                        <td>
                                            @{
                                                var link = Model.Event.Where(m => m.EventsID == item.EventID).Select(m => m.EventName).FirstOrDefault();
                                            }

                                            @Html.ActionLink(@link, "Details", "Events", new { id = item.EventID }, null)
                                        </td>

                                        <td>
                                            <h4>@item.Event.Club.ClubName</h4>
                                        </td>
                                        <td>
                                            <h4>@item.Event.EventLocationCity, @item.Event.EventLocationState</h4>
                                        </td>
                                        <td>
                                            <h4>@item.Event.EventDate.ToShortDateString()</h4>
                                        </td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
                <h3>
                    <span id="upcoming-events-chevron" class="glyphicon glyphicon-chevron-right"></span>
                    Upcoming Events
                </h3>
                <br />
                <div class="well" id="upcoming-events-table-container">
                    <table id="upcoming-events-table" class="table-hover table-hover table-bordered events-table">
                        <tbody>
                            <tr>
                                <th>
                                    EventName
                                </th>
                                <th>
                                    Hosting Club
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>


                            @foreach (var item in Model.Registration)
                            {

                                if (item.Event.EventDate <= System.DateTime.Now.AddDays(30) && item.Event.EventDate >= System.DateTime.Now.AddHours(8))
                                {
                                    <tr>
                                        <td>
                                            @{
                                                var link = Model.Event.Where(m => m.EventsID == item.EventID).Select(m => m.EventName).FirstOrDefault();
                                            }

                                            @Html.ActionLink(@link, "Details", "Events", new { id = item.EventID }, null)
                                        </td>
                                        <td>
                                            <h4>@item.Event.Club.ClubName</h4>
                                        </td>
                                        <td>
                                            <h4>@item.Event.EventLocationCity, @item.Event.EventLocationState</h4>
                                        </td>
                                        <td>
                                            <h4>@item.Event.EventDate.ToShortDateString()</h4>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-default btn-xs" data-toggle="dropdown">
                                                    <span class="glyphicon glyphicon-align-center"></span>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li role="presentation">@Html.ActionLink("Unattend", "RemoveRegistration", "EventRegistration", new { registrationID = item.RegistrationID }, new { @role = "menuitem" })</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
                <br />
                @Html.ActionLink("Find Events!", "Index", "Events", null, new { @type = "button", @class = "btn btn-info btn-block" })
            </div>

            <!--Results-->

            <div class="row content-box">
                <h1>My Recent Results:</h1>
                @Html.ActionLink("View All of My Results", "UserEventResults", "Profile", new { @class = "btn btn-info btn-sm" })
                <br />
                <div class="well col-sm-12">
                    @{ Html.RenderAction("GetSpecifiedNumberOfMostRecentUserEventResults", "Events", new { numberOfResults = 5 }); }
                </div>
                <div>
                    <h1>Your Trends</h1>
                    @*<img src="@Url.Action("GetChartPartialView", "Chart")" />
                    *@
                    <div class="well" id="chart_div"></div>
                    <br />
                    <div class="well" id="average-adjusted-time-chart-div"></div>
                    <br />
                    <div class="well" id="average-points-per-year-chart"></div>
                    <br />
                </div>
            </div>

            <!--Garage-->
            <div class="row content-box">


                <h1>My Garage:</h1>
                @Html.ActionLink("View Your Cars", "List", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })


                @{ int i = 0; }
                @if (Model.Car.Count() > 0)
                {
                    <div class="row">
                        @foreach (var car in Model.Car)
                        {
                            i++;
                            <div class="@(i % 4 == 0 ? "row" : "")">

                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            @i
                                        </div>
                                        <div class="panel-body">
                                            <h3>
                                                @car.CarYear @Model.CarMake.Where(m => m.CarMakeID == car.CarMakeID).Select(m => m.Make).FirstOrDefault() @car.CarModel
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                }

                @Html.ActionLink("Add New Car", "Create", "Vehicle", null, new { @type = "button", @class = "btn btn-info btn-block" })
            </div>
            <div class="row">

            </div>
        </div>
    </div>
    <div class="col-md-3 content-box">
        @if (Model.UserProfile.Select(up => up.ProfilePhotoID).FirstOrDefault() > 0)
        {
            <img src="@Url.Action("GetProfilePhoto")" alt="..." class="img-rounded img-responsive" />
        }

        <h2>Account Information Overview</h2>
        <div>
            @Html.ActionLink("Edit", "UserEditAccountInformation", "Profile", null, new { @type = "button", @class = "btn btn-info btn-block" })
            @Html.ActionLink("Photos", "GetPhotoEditPage", "Photo", new { galleryID = Model.UserProfile.Select(up => up.GalleryID).FirstOrDefault() }, new { @type = "button", @class = "btn btn-info btn-block" })

            <h3>Name: </h3>
            <p>
                @Model.UserProfile.Select(m => m.FirstName).FirstOrDefault() @Model.UserProfile.Select(m => m.LastName).FirstOrDefault()
            </p>

            <h3>Birthday: </h3>
            <p>
                @Model.UserProfile.Select(m => m.DateOfBirth).FirstOrDefault()
            </p>
            <h3>QRCode</h3>
            <img src="@Url.Action("GenerateQrCode")" class="img-fluid img-responsive" alt="qr code" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/user-home.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/Scripts/results-chart.js"></script>
}