﻿
@{
    ViewBag.Title = "Coach";
}

@Styles.Render("~/Content/coachs-page.css");

<div class="row">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">

        <form>
            <center>
                <div id="drop-box">
                    Drop Your .FIT Files Here
                </div>

                <h4>Uploaded files : </h4>
                <ul class="list-group" id="uploadList"></ul>
            </center>
        </form>
    </div>

    <div class="col-md-2">

    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script src="~/Scripts/upload.js"></script>
}

